<div class="page-header">
  <h2>Shares for <%= @user.send Uplodar.display_user_name %></h2>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Shares</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% @shares.each do |share| %>
    <tr>
    <td> <%= share.name %> </td>
    <td>
      <span class="pull-right">
        <%= link_to 'Details', permission_share_path(@user, share), :class => 'btn btn-primary btn-mini' %>
      </span>
    </td>
  </tr>
<% end %>
  </tbody>
</table>
